.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

th {
  text-align: center;
}

.Search {
  margin: 0vw 10vw;
}


.PlayerSearch {
  border: orange solid;
  border-width: 0vw 15vw;
  height: 100vh;
}

.PlayerImage {
  height: 75%;
  width: 75%;
  max-width: 450px;
  max-height: 450px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
